:root {
    --aside-width: 240px;
    --top-width: 72px;
    --main-color: #4E73DE;
    --secondary-color:#F8F9FC;
    --background-color:#F6F7FA;
    --table-color:#858796;
}
.brand {
    width: 239px;
    background: var(--main-color);
}
.left-aside {
    width: var(--aside-width);
    padding-top: var(--top-width);
    background: var(--main-color);
}
.main-content {
    margin: var(--top-width) 0 0 var(--aside-width);
    background: blue;
    /* 上右下左 */
}
.main {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
}
.table-title{
    background: var(--secondary-color);
}
.coupon-table{
    thead tr th{
        color: var(--table-color);
    }
    tbody tr td{
        color: var(--table-color);
    }
}
body{
    background: var(--background-color);
}